[Unit]
Description=copy-config - copy config files from FAT partition
Before=network.target wpa_supplicant@wlan0.service

[Service]
Type=oneshot
ExecStart=/opt/hifiberry/bin/copy-config
StandardOutput=journal

[Install]
WantedBy=multi-user.target
