[Unit]
Description=Install updates
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/hifiberry/bin/update

